
 
  <div id="loginModal">
  <div dw-loading="login" dw-loading-options="{text: 'Loading...'}" > 
  <div class="modal-header" align="center"> 
        <button type="button" class="close" aria-label="Close" ng-click="cancel();"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
  </div>
  
   <div class="modal-body" style="padding-top: 0px;">

		   <div ng-messages="loginMessageDetails.errorMessage" class="text-danger" >
		    <div ng-message="login">{{loginMessageDetails.errorMessage.login}}</div>
		    <div ng-message="register">{{loginMessageDetails.errorMessage.register}}</div>
		    <div ng-message="forgotPassword">{{loginMessageDetails.errorMessage.forgotPassword}}</div>
		    <div ng-message="zipcode">{{loginMessageDetails.errorMessage.zipcode}}</div>
		    <div ng-message="registerEmailAlreadyExist">{{loginMessageDetails.errorMessage.registerEmailAlreadyExist}}</div>
		  </div>
		  
		  <div ng-messages="loginMessageDetails.successMessage" class="text-success" >
		    <div ng-message="login">{{loginMessageDetails.successMessage.login}}</div>
		    <div ng-message="register">{{loginMessageDetails.successMessage.register}}</div>
		    <div ng-message="forgotPassword">{{loginMessageDetails.successMessage.forgotPassword}}</div>
		  </div>
   <div ng-include="bodyTemplate"></div>
   </div>
   
   </div>
   
    </div>