<!-- wrapper starthere  -->
<div class="wrapper"> 
  <!-- container start here  -->
  <div class="container">
    <div class="col-lg-12">
    
        <div class="col-lg-3 col-md-3 ">
          <div class="head-lft">
            <p><a href=""><img src="images/logo.png" alt="" style="width: 47%;height: 100%;" /></a></p>
          </div>
        </div>
         <div class="col-lg-5 col-md-5" >
          <label class="text-danger">{{registrationConfirmationMessageFailure}}</label>  
           <label class="text-success">{{registrationConfirmationMessageSuccess}}</label>  
        </div>
        <div class="col-lg-4 col-md-4" >
          <div class="head-rgt">
           <p class="text-center"><a href="" class="btn btn-primary btn-lg" role="button" ng-click="showLoginRegisterModal();">Login / Register</a></p>
          </div>
        </div>
      
    </div>
  </div>
  <!-- container end here --> 
  
  <!-- veg start here -->
  <div class="veg">

  </div>
  <!-- veg end here --> 
  
</div>
<!-- wrapper end here -->