<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/newLogin.css">

<nav role="navigation" class="navbar navbar-default ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a><span>Amoeba</span></a> 
            <label class="text-danger confirmationMessage">{{registrationConfirmationMessageFailure}}</label>  
           <label class="text-success confirmationMessage">{{registrationConfirmationMessageSuccess}}</label>  
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
           
            <ul class="nav navbar-nav navbar-right">
            <li ng-click="showLoginRegisterModal();"><a href="" ><b>LOGIN</b></a></li>    
                <li ng-click="navigateTo('home')"><a href="" ><label>HOME</label></a></li>
                <li ng-click="navigateTo('aboutUs')"><a href=""><label>MISSION</label></a></li>
                <li ng-click="navigateTo('faqs')"><a href="" ><label>FAQS</label></a></li>   
                 <li><a href=""></a></li>                                        
            </ul>
        </div>
    </nav>

    <section id="home" style="
    margin-left: 75px;
    margin-right: 75px;" >
    <header class="clearfix text-center">
    <div class="col-xs-12">
    
    <h1 style="margin-top: 75px;">Welcome to Project AMOEBA</h1>
    <h6>MORE ABOUT US</h6>
    <br>
    <p class="faqAnswer" style="
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;    word-spacing: 7px;
    letter-spacing: 1.5px;">
    Project AMOEBA is a social cause project which is to facilitate Veterans to post their questions to the consultants freely..</p>
    </div>
    </header>
    </section>
    
    <!-- USER TYPES -->
    
    <section class="userTypes col-xs-12 ">
    
    <div class="col-sm-3 col-xs-10 whiteBgColor userType" >
    <div class="faq-icon"><h2><i class="fa fa-registered"></i></h2></div>
    <h4>SAFETY</h4>
    <p class="faqAnswer"> Know how to plan your harvest based  on solid information to get the most out of your crop.</p>
    </div>
    
    <div class="col-sm-3 col-xs-10  whiteBgColor userType" >
     <div class="faq-icon"><h2><i class="fa fa-support"></i></h2></div>
    <h4>CONVENIENCE</h4>
    <p class="faqAnswer"> Get the data you need to have to ensure the timely and most efficient delivery of product.</p>
    </div>
    
    <div class="col-sm-3 col-xs-10 whiteBgColor userType" >
     <div class="faq-icon"><h2><i class="fa fa-mail-reply-all"></i></h2></div>
    <h4>DIRECT LINK</h4>
    <p class="faqAnswer"> Real time data to plan your buys! Know what is going on in the market every day in terms of Product, availability, surplus, shortfalls, and basis for shifts in pricing.</p>
    </div>
    
    </section>
    
   
    
     <!-- MEET OUR TEAM  -->
    <section id="about" class=" col-xs-12 meetOurTeam">
   
   <div class="col-sm-6 col-xs-12" style="padding-left: 0px;padding-right: 0px;">
     <img class="img-responsive" alt="" src="images/meetTeam.jpg" style="min-height: 380px;">
   </div>
   
   <div class="col-sm-6 col-xs-12 meetOurTeamContent">
   <h2>Our Mission</h2>
   <h6 class="text-left"> ABOUT US</h6>
   <br>
    <p class="faqAnswer">To provide a feasible medium between users and consultants to communicate easily</p>
    <uib-accordion close-others="oneAtATime">
    
    <div uib-accordion-group class="panel " is-open="mission1">
      <uib-accordion-heading>
       REDUCING TIME 
      </uib-accordion-heading>
      <p class="faqAnswer">As users can directly post/view their queries on their lesiure , thus reducing the appoitment time and travelling time.</p>
    </div>
    
    <div uib-accordion-group class="panel" is-open="mission2">
      <uib-accordion-heading>
       REDUCE PROGRAM 
      </uib-accordion-heading>
     <p class="faqAnswer"> Users can take a pic and upload the image on the tool and consultants can directly visualize the images uploaded in the tool.Thus reducing the complexity of explaining the problem.</p>
    </div>
    
    <div uib-accordion-group class="panel" is-open="mission3">
      <uib-accordion-heading>
       ANSWER MORE 
      </uib-accordion-heading>
      <p>Consultants can answer/diagnose more people on the tool , because of its easy navigation design.</p>
      </div>
  </uib-accordion>
    
   </div>
    </section>
    
    
    <!-- FAQ  -->
    <section id="faqs"  class="faq greyBgColor col-xs-12 ">
    <h2> FAQ  </h2>
    <h6> FREQUENTLY ASKED QAESTIONS</h6>
    <div class="col-sm-3 col-xs-10 whiteBgColor faq-block" >
    <div class="faq-icon">
    <h2>?</h2>
    </div>
    <h4>How to Register to the tool?</h4>
    <p class="faqAnswer"> Its so simple, any veteran who has a valid emailId can register into our tool.</p>
    </div>
    
    <div class="col-sm-3 col-xs-10  whiteBgColor faq-block" >
    <div class="faq-icon">
    <h2>?</h2>
    </div>
    <h4>How safe are my details?</h4>
    <p class="faqAnswer"> Dont worry ,your details are in safe hands.Even you have option to hide your details from consultants , by marking it as anonymous.</p>
    </div>
    
    <div class="col-sm-3 col-xs-10 whiteBgColor faq-block" >
    <div class="faq-icon">
    <h2>?</h2>
    </div>
    <h4>Can I refer my closed queries?</h4>
    <p class="faqAnswer"> Yes, you can navigate to "MyProblems" tab and view your queries.</p>
    </div>
    
    </section>
    
    
     <!-- footerContent -->
     <section>
     <div class="col-xs-12 text-center copyRight">
    <p> All contents &copy; copyrights 2017 Amoeba.All rights reserved</p>
     </div>
     </section>
    
   
    
   
    