  <div dw-loading="home" dw-loading-options="{text: 'Please Wait, Loading... '}" style="height:100vh"> 
<div id="sideBar" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" style="background-color: #f7f7f7;">

 <amoeba-header></amoeba-header>
 
 <amoeba-sidebar ></amoeba-sidebar>
   <div class="content-wrapper content-wrapper-padding"  style="background-color:#f7f7f7;min-height: 99vh;"> 
   <div>
 <div ui-view></div>
 </div>
 </div>
  
 <amoeba-footer></amoeba-footer>
  
</div>

</div>
</div>

