<div class="col-xs-12">
  <h3>Problem</h3>
  <hr style="margin-top: 0px;margin-bottom: 15px;border-top: 2.5px solid #1abb9c;">
  <div class="col-xs-12" ng-if="errorMessage"><label class="text-danger">{{errorMessage}}</label></div>
  <div class="col-xs-12" ng-if="successMessage"><label class="text-success">{{successMessage}}</label></div>


  <form  name="problemForm" ng-submit="submitProblem();">

		<div class="col-xs-6">
			<div class="form-group">
				<label for="exampleInputPassword1">Category <sup class="text-danger">*</sup></label> 
				<select ng-if="!editProblem" class="form-control" ng-model="problem.tempCategory" ng-change="subCategories();" required>
					<option>Select Category</option>
					<option ng-repeat="category in categories" value="{{category}}">{{category.categoryName}}</option>
				</select>
				<input type="text" ng-if="editProblem" ng-disabled="editProblem" ng-model="problem.category"  name="title" class="form-control" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="form-group">
				<label for="exampleInputPassword1">Subcategory <sup class="text-danger">*</sup></label>
				 <select ng-if="!editProblem" class="form-control" ng-model="problem.subcategory" required>
					<option>Select Subcategory</option>
					<option ng-repeat="subcategory in subcategories" value="{{subcategory}}"> {{subcategory}}</option>
				</select>
				 <input type="text" ng-if="editProblem" ng-disabled="editProblem" ng-model="problem.subcategory"  name="title" class="form-control" id="title" placeholder="Title" required>
			</div>
		</div>

		<div class="col-xs-12">
      <div class="form-group">
        <label for="categoryName"> Title <sup class="text-danger">*</sup></label>
        <input type="text" ng-disabled="editProblem" ng-model="problem.title"  name="title" class="form-control" id="title" placeholder="Title" required>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="categoryName">Summary <sup class="text-danger">*</sup></label>
        <textarea class="form-control" rows="3" ng-model="problem.summary" placeholder="Summary" required></textarea>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label for="categoryName"> Description <sup class="text-danger">*</sup></label>
        <textarea class="form-control" ui-tinymce="tinymceOptions" ng-model="problem.description" rows="3" placeholder="Description" required></textarea>
      </div>
    </div>
    <div class="col-xs-12">
    <label class="checkbox-inline">
	  <input type="checkbox" id="inlineCheckbox1" ng-model="problem.anonymous" value="true"> Anonymous
	</label>
    </div>
    <div class="col-xs-12 text-center">
      <button type="submit" ng-hide="problem.status==='SAVE'" ng-disabled="problemForm.$invalid || (problem.category=='' || problem.subcategory=='Select Subcategory')" ng-click="problem.status='DRAFT'" class="btn btn-primary">Draft</button>
      <button type="submit" ng-disabled="problemForm.$invalid || (problem.category=='' || problem.subcategory=='Select Subcategory')" ng-click="problem.status='SAVE'" class="btn btn-success">Submit</button>
    </div>
  </form> 


</div>

