<div class="col-xs-12">

<h3>Profile</h3>
<hr style="margin-top: 0px;margin-bottom: 15px;border-top: 2.5px solid #1abb9c;">
<div class="col-sm-3 col-xs-12">

<img src="images/default.png" class="user-image" alt="User Image" ng-if="!userDetails.userImagePath">
<img class="user-image img-responsive"   ng-src="{{userDetails.userImagePath}}" ng-if="userDetails.userImagePath" />

  <input  type="file" name="uploadImage" file-model="userDetails.uploadImage" ng-hide="!editProfile"/>
  <br>
     <br>


</div>

<div class="col-sm-9 col-xs-12">
<form id="register-form" name="profileForm"  ng-submit="register();">
                <div class="modal-body">

				  <div class="form-group col-xs-6">
				    <label for="exampleInputEmail1">First Name</label>
                  <input id="register_firstname" disabled  class="form-control topMarginForRegister" type="text" placeholder="First Name" ng-model="userDetails.firstName" required>
				  </div>
				  <div class="form-group col-xs-6">
				    <label for="exampleInputEmail1">Last Name</label>
                  <input id="register_lastname" disabled class="form-control topMarginForRegister" type="text" placeholder="Last Name" ng-model="userDetails.lastName" required>
				  </div>
				  <div class="form-group col-xs-6" >
				    <label for="exampleInputPassword1">Gender</label><br>
				    <label class="radio-inline">
					  <input type="radio" ng-disabled="!editProfile"  name="inlineRadioOptions" id="inlineRadio1" ng-model="userDetails.gender" value="Male" required> Male
					</label>
					<label class="radio-inline">
					  <input type="radio" ng-disabled="!editProfile"  name="inlineRadioOptions" id="inlineRadio2" ng-model="userDetails.gender" value="Female" required> Female
					</label>
				  </div>
				  <div class="form-group col-xs-6">
				    <label for="exampleInputEmail1">Mobile Number</label>
                   <input id="register_country"  ng-disabled="!editProfile"  class="form-control topMarginForRegister" type="text" placeholder="Number" ng-model="userDetails.mobileNumber" required >
				  </div>
				  <div class="form-group col-xs-12">
				    <label for="exampleInputEmail1">Address</label>
				    <input id="register_country"  ng-disabled="!editProfile"  class="form-control topMarginForRegister" type="text" placeholder="Address" ng-model="userDetails.address" required >
				  </div>
				  <div class="form-group col-xs-6">
				    <label for="exampleInputEmail1">City</label>
                   <input id="register_country" ng-disabled="!editProfile"  class="form-control topMarginForRegister" type="text" placeholder="City" ng-model="userDetails.city" required >
				  </div>
				  <div class="form-group col-xs-6">
				    <label for="exampleInputEmail1">State</label>
                   <input id="register_country" ng-disabled="!editProfile"  class="form-control topMarginForRegister" type="text" placeholder="State" ng-model="userDetails.state" required >
				  </div>
				  <div class="form-group col-xs-6">
				    <label for="exampleInputEmail1">Zip Code</label>
                   <input id="register_country" ng-disabled="!editProfile"  class="form-control topMarginForRegister" type="number" min="0" placeholder="Zip code" ng-model="userDetails.zipcode" required >
				  </div>
				  <div class="form-group col-xs-6" ng-if="userDetails.role==='User'">
				    <label for="exampleInputEmail1">Age</label>
                   <input id="register_country" ng-disabled="!editProfile"  class="form-control topMarginForRegister" type="number" min="0" placeholder="age" ng-model="userDetails.age" required >
				  </div>
				  <div class="form-group col-xs-6" ng-if="userDetails.role==='User'">
				    <label for="exampleInputPassword1">Height</label>
                   <input id="register_country" ng-disabled="!editProfile"  class="form-control topMarginForRegister" type="number" min="0" placeholder="height" ng-model="userDetails.height" required >
				  </div>
				  <div class="form-group col-xs-6" ng-if="userDetails.role==='User'">
				    <label for="exampleInputPassword1">Weight</label>
                   <input id="register_country" ng-disabled="!editProfile"  class="form-control topMarginForRegister" type="number"  min="0" placeholder="weight" ng-model="userDetails.weight" required >
				  </div>
				  
				   <div class="form-group col-xs-12" ng-if="userDetails.role==='Consultant' && editProfile && !editCategoryName">
				    <label for="exampleInputEmail1">Category </label>
                   <select  class="form-control topMarginForRegister" ng-model="loginDetails.category1" ng-change="getSubCategories();">
                   <option>Select Category</option>
                   <option ng-repeat="category in categories" value="{{category}}">{{category.categoryName}}</option>
                   </select>
				  </div>
				  
				  <div class="form-group col-xs-12" ng-if="userDetails.role==='Consultant' && editProfile && editCategoryName">
				    <label for="exampleInputPassword1">Category</label>
                   <input id="register_country" ng-if="editCategoryName" disabled class="form-control topMarginForRegister" type="text" placeholder="Zip code" ng-model="editCategoryName"  >
				  </div>
				  
				   <div class="form-group col-xs-12" ng-if="userDetails.role==='Consultant' && loginDetails.category1!='Select Category' && editProfile">
                  <label for="exampleInputEmail1">Sub Category</label>
                   <select class="form-control topMarginForRegister" ng-model="loginDetails.subcategoryList" multiple>
                   <option ng-repeat="subcategory in loginDetails.subcategories" value="{{subcategory}}">{{subcategory}}</option>
                   </select>
                   <button type="button" class="btn btn-primary" ng-click="addCategory();">Add</button>
                   
				  </div>
				  
				  
				  <div class="form-group col-xs-12" ng-if="userDetails.role==='Consultant'">
				  <table class="table table-hover " style="background-color: white">
				    <thead>
				      <tr>
				        <th>Category Name</th>
				        <th>Subcategory Name</th>
				         <td ng-if="editProfile" >Action </td>
				      </tr>
				    </thead>
				    <tbody>
				      <tr  dir-paginate="category in userDetails.category |filter:search|itemsPerPage:itemsPerPage">
				        <td>{{category.categoryName}} </td>
				        <td><span ng-repeat="subcategory in category.subcategories"> {{category.subcategories.length==$index+1?subcategory:subcategory+','}}</span> </td>
				         <td ng-if="editProfile"><button class="btn btn-sm btn-primary" ng-click="editCategory(category,$index);"><span class="glyphicon glyphicon-pencil"></span></button> </td>
				      </tr>
				    </tbody>
				  </table>
				
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" ></dir-pagination-controls>
				  </div>
                </div>
                <div class="modal-footer">
                  <div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-hide="editProfile" ng-click="editProfile=!editProfile">Edit</button>
                    <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="profileForm.$invalid" ng-show="editProfile" ng-click="updateProfile();">Save</button>
                  </div>
                </div>
              </form>
</div>
</div>
