<aside class="main-sidebar"> 
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar"> 
      <!-- Sidebar user panel --> 
      
     
       <ul class="sidebar-menu" >
        <li class="header">MAIN NAVIGATION</li>
        <li> <a ui-sref="dashboard.profile"> <i class="fa fa-sun-o"></i> <span>Profile</span> <span class="pull-right-container"></span> </a></li>
        <li> <a ui-sref="dashboard.allUsers"> <i class="fa fa-sun-o"></i> <span>Users</span> <span class="pull-right-container"></span> </a></li>
        <li> <a ui-sref="dashboard.problem({'problemId': 0})"> <i class="fa fa-sun-o"></i> <span>Post Problem</span> <span class="pull-right-container"></span> </a></li>
        <li> <a ui-sref="dashboard.problems"> <i class="fa fa-sun-o"></i> <span>All Problems</span> <span class="pull-right-container"></span> </a></li>
        <li> <a ui-sref="dashboard.myProblems"> <i class="fa fa-sun-o"></i> <span>My Problems</span> <span class="pull-right-container"></span> </a></li>
        <li> <a ui-sref="dashboard.acceptedProblems"> <i class="fa fa-sun-o"></i> <span>Accepted Problems</span> <span class="pull-right-container"></span> </a></li>
        <li> <a ui-sref="dashboard.categories"> <i class="fa fa-sun-o"></i> <span>Categories</span> <span class="pull-right-container"></span> </a></li>
       
        </ul>
    </section>
    <!-- /.sidebar --> 
  </aside>