<aside class="main-sidebar"> 
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar"> 
      <!-- Sidebar user panel --> 
      
     
       <ul class="sidebar-menu" >
        <li class="header">{{userDetails.role|uppercase}}</li>
        <li ng-if="userDetails.role=='Admin'"> <a ng-click="setSideBarActive('allUsers','dashboard.allUsers');" ng-class="{'sideBarActive':currentView==='allUsers'}" > <i class="fa fa-sun-o"></i> <span>Users</span> <span class="pull-right-container"></span> </a></li>
        <li ng-if="userDetails.role=='User'"> <a ng-click="setSideBarActive('postProblem','dashboard.problem');" ng-class="{'sideBarActive':currentView==='postProblem'}"> <i class="fa fa-sun-o"></i> <span>Post Problem</span> <span class="pull-right-container"></span> </a></li>
        <li ng-if="userDetails.role=='Consultant'"> <a ng-click="setSideBarActive('allProblems','dashboard.problems');" ng-class="{'sideBarActive':currentView==='allProblems'}" > <i class="fa fa-sun-o"></i> <span>All Problems</span> <span class="pull-right-container"></span> </a></li>
        <li ng-if="userDetails.role=='User'"> <a ng-click="setSideBarActive('myProblems','dashboard.myProblems');" ng-class="{'sideBarActive':currentView==='myProblems'}" > <i class="fa fa-sun-o"></i> <span>My Problems</span> <span class="pull-right-container"></span> </a></li>
        <li ng-if="userDetails.role=='Consultant'"> <a ng-click="setSideBarActive('acceptedProblems','dashboard.acceptedProblems');" ng-class="{'sideBarActive':currentView==='acceptedProblems'}" > <i class="fa fa-sun-o"></i> <span>Accepted Problems</span> <span class="pull-right-container"></span> </a></li>
        <li ng-if="userDetails.role=='Admin'"> <a ng-click="setSideBarActive('categories','dashboard.categories');" ng-class="{'sideBarActive':currentView==='categories'}" > <i class="fa fa-sun-o"></i> <span>Categories</span> <span class="pull-right-container"></span> </a></li>
        <li > <a ng-click="setSideBarActive('profile','dashboard.profile');" ng-class="{'sideBarActive':currentView==='profile'}"> <i class="fa fa-sun-o"></i> <span>Profile</span> <span class="pull-right-container"></span> </a></li>
       
        </ul>
    </section>
    <!-- /.sidebar --> 
  </aside>