<div class="col-xs-12">

<h3>Solution</h3>

			
			
	
	<div class="col-xs-12"  style="border:1px solid #00b3ac;">
	<lablel>Title: </lablel>
	<p>{{problem.title}}</p>
	<lablel>Summary: </lablel>
	<p>{{problem.summary}}</p>
	<lablel>Description: </lablel>
	<p>{{problem.description}}</p>
	<form  name="problemForm" ng-submit="submitSolution();">
	<div class="col-xs-12">
      <div class="form-group">
        <label for="categoryName">Solution <sup class="text-danger">*</sup></label>
        <textarea class="form-control" rows="6" ui-tinymce="tinymceOptions" ng-model="solution.description" required></textarea>
      </div>
    </div>
	
	 <div class="col-xs-12 text-center" >
	 <button type="submit" class="btn btn-success">Submit</button>
       </div>
       </form>
	</div>
	
	
			
</div>
