<div class="col-xs-12">

<h3>Solution</h3>

			
			
	
	<div class="col-xs-12"  style="border:1px solid #00b3ac;">
	<label>Title: </label>
	<p>{{problem.title}}</p>
	<label>Summary: </label>
	<p>{{problem.summary}}</p>
	<label>Description: </label>
	<p>{{problem.description}}</p>
	<label ng-if="problem.status=='CLOSED'">Solution: </label>
	<p ng-if="problem.status=='CLOSED'">{{solution.description}}</p>
	<form ng-if="problem.status!='CLOSED'" name="problemForm" ng-submit="submitSolution();">
	<div class="col-xs-12">
      <div class="form-group">
        <label for="categoryName">Solution <sup class="text-danger">*</sup></label>
        <textarea  class="form-control" rows="6" ui-tinymce="tinymceOptions" ng-model="solution.description" required></textarea>
      </div>
    </div>
	
	 <div class="col-xs-12 text-center" >
	 <button type="submit" class="btn btn-success">Submit</button>
       </div>
       </form>
	</div>
	
	
			
</div>
